@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root{
    --primary-color:rgb(55, 96, 184);
}
html {
box-sizing: border-box;
}
*{
margin: 0;
padding: 0;
}
*,*:before,*:after {
box-sizing: border-box;
}
input,
textarea,
select,
button{
outline: none;
}
input{
line-height: normal;
}
label,
button{
cursor: pointer;
}
img {
display: block;
max-width: 100%;
}
body{
    font-family: 'Quicksand', sans-serif;
}
.app{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.site{
    width: 290px;
    height: 100vh;
    position:sticky;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #fff;
}
.logo{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding:40px 0;
}
.img-logo{
    width: 180px;
}
.site-icon{
    display: flex;
    justify-content: center;
    align-items: center;
}
.site-icon__item{
    list-style: none;
    margin:20px 10px;
}
.icon-home{
    color: #111;
    font-size: 23px;
}
.site-nav{
    width: 100%;
    height: 350px;
    overflow-y: auto;
    margin-top: 30px;
}
.cart{
    position: relative;
}
.site-num{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    position:absolute;
    top: -13px;
    right: -8px;
    font-size:14px;
    font-weight: bold;
}
.nav-menu{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s linear;
    cursor: pointer;
    position: relative;
}
.nav-menu:hover{
    background-color: #eee;
}
.nav-menu:hover .nav-item{
    color: rgb(55, 96, 184);
    text-decoration: underline;
}
.nav-hv:hover{
    color: rgb(55, 96, 184);
    text-decoration: underline;
}
.nav-item{
    color: #111;
    font-size:16px;
    font-weight: 700;
    text-decoration:none;
}
.hot{
    position:absolute;
    top: 0;left: 50px;
    width: 30px;
    height: 18px;
    background-color: #FF0000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hot::before{
    content: "";
    position: absolute;
    bottom: -5px;
    left: 5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #FF0000;
}
.hot-content{
    text-decoration: none;
    font-size:12px;
    color: #fff;
    font-weight: 400;
}
.phone{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 20px;
    width: 180px;
    height: 50px;
    margin: 0 auto;
    background-color: #111;
}
.phone-img{
    width: 40px;
}
.phone-num{
    color: #fff;
    text-decoration:none;
}
.contact{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 0 20px;
}
.contact-me{
    color: #111;
    font-size: 20px;
}
.intro{
    flex: 1;
    overflow: hidden;
}
.swiper-pagination-bullet{
    background-color: #fff;
    width: 12px;
    height: 12px;
    transform: translateY(-13px);
}
.intro-up{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.intro-up.active .img-up{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.img-up{
    width: 550px;
    margin: 30px 15px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(150px);
}
.intro-dow{
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1,1fr);
    grid-template-areas: 
    "q q w e"
    "q q t r";
    gap: 30px;
    overflow: hidden;
}
.img-dow1{
    grid-area: q;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: scale(1.2);
    width: 100%;
}
.intro-dow.active .img-dow1{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
}
.img-dow2{
    grid-area: w;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(100px);
}
.img-dow3{
    grid-area: e;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(100px);
}
.intro-dow.active .img-dow2,
.intro-dow.active .img-dow3{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}


.img-dow4{
    grid-area: r;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(100px);
}
.img-dow5{
    grid-area: t;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease;
    transform: translateY(100px);
}
.intro-dow.toggle .img-dow4,
.intro-dow.toggle .img-dow5{
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}
.intro-title{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-title__1{
    margin: 30px 0;
    position: relative;
    display: inline-block;
}
.intro-title__1:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.intro-long{
    width: 10px;
    height: 10px;
    border-radius:50%;
    border:2px solid #2D2D2D;
    display: inline-block;
    position:absolute;
    bottom: -10px;
    left: 50%;
}
.intro-long::before{
    content: '';
    position: absolute;
    height: 1px;
    width: 250px;
    background-color: #111;
    left: 25px;
    bottom: 2px;
}
.product-flex{
    display: flex;
    align-items: center;
    position: relative;
}
.intro-long::after{
    content: '';
    position: absolute;
    height: 1px;
    width: 250px;
    background-color: #111;
    left: -270px;
    bottom: 2px;
}
.intro-product{
    margin: 0 50px;
}
.product-item{
    position: relative;
    overflow: hidden;
    height: 100%;
    transition: all 0.5s linear;
    width: 300px;
    margin-bottom: 50px;
}
.product-item:hover .product-cl{
    animation: pro 0.3s linear 0.3s forwards;
}
@keyframes pro{
    0%{
        transform: translateY(60px);
    }
    100%{
        transform: translateY(-30px);
    }
}
.product-img{
    overflow: hidden;
    width: 100%;
}
.product-cl{
    display: flex;
    align-items: center;
    justify-content:center;
    position:absolute;
    gap: 0 10px;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 255, 255);
    left: 0;
    bottom: 0;
    transform: translateY(60px);
}
.product-img__item{
    width: 50px;
    height: 50px;
    object-fit: cover;
    cursor: pointer;
    padding:10px;
}
.product-img__item:hover{
    border: 1px solid #FF0000;
}
.price{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px 0;
    background-color: #fff;
    gap: 0 8px;
}
.price-1{
    font-weight: 600;
}
.price-2{
    text-decoration:line-through;
    opacity: 0.6;
}
.swiper-button-prev,
.swiper-button-next{
    width: 50px;
    height: 50px;
    background-color: #111;
    border-radius: 50%;
    color: #fff;
}
.swiper-button-prev::after,
.swiper-button-next::after{
    font-size:13px;
    font-weight:700;
}